body {
    background-color: rgb(240, 221, 191);
    margin: 0; /* Remove default body margin */
    height: 100vh; /* Ensure body takes full viewport height */
}

.heading h1 {
    text-align: center;
    font-family: cursive;
    padding-top: 20px; /* Reduced padding */
}

.emoji-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the top */
    flex-wrap: wrap;
    margin: 10px auto 20px; /* Reduced top margin, added bottom margin */
    max-width: 80%;
    height: 17vh; /* Reduced container height */
}

.clickable-image {
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.clickable-image:hover {
    transform: scale(1.1);
}

.text-box{
    text-align: center;
    margin-top: 2px; 
}

#submission-history {
    max-width: 80%;
    margin: 30px auto;
    font-family: Arial, sans-serif;
}

#history-table {
width: 100%;
border-collapse: collapse;
text-align: center;
}

#history-table th,
#history-table td {
padding: 10px;
}

#history-table th {
background-color: #f2b8a0;
}

#history-table tr:nth-child(even) {
background-color: #fdf1e6;
}

