body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.logo img{
    display: block;
    max-width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.logo img.show{
    opacity: 1;
}

